[submodule "themes/hugo-simple"]
	path = themes/hugo-simple
	url = https://github.com/maolonglong/hugo-simple.git
[submodule "themes/hugo-video"]
	path = themes/hugo-video
	url = https://github.com/martignoni/hugo-video.git
