<nav>{{ "" }}</nav>
<h1>{{ .Title }}</h1>


<h3 style="text-align: center;">
  Authors: 
  <a href="https://www.linkedin.com/in/shengkun-cui-332353136/">Shengkun Cui</a> |
  <a href="https://saurabhjha.one/">Saurabh Jha</a> |
  <a href="https://zihengjackchen.com">Ziheng Chen</a> |
  <a href="https://ece.illinois.edu/about/directory/faculty/kalbarcz">Zbigniew Kalbarczyk</a> | 
  <a href="https://ece.illinois.edu/about/directory/faculty/rkiyer">Ravishankar Iyer</a>
</h3>

<p style="text-align: center;">
  Accepted DSN 2024:
  <a href="https://dsn2024uq.github.io/cpaccepted.html">Paper (in proceeding)</a> |
  <a href="./dsn2024_av_risk_project_dsn2024_submitted_final-4.pdf">Paper (pdf, submitted verison)</a> |
  <a href="https://github.com/zihengjackchen/iPrism">GitHub</a> |
  <a href="https://zenodo.org/doi/10.5281/zenodo.10279653">Artifact</a>
</p>

<nav>{{ partial "nav.html" . }}</nav>

<!-- {{ with .Description }}
  <p>{{ . }}</p>
{{ end }} -->
